{
    "singleQuote": true,
    "trailingComma": "none",
    "semi": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "printWidth": 180,
    "useTabs": false,
    "endOfLine": "auto",
	"enable": false
}